@font-face {
    font-family: beth-ellen;
    src: url(BethEllenRegular.ttf);
  }

@font-face{
    font-family: reem-kufi;
    src: url(ReemKufi-Regular.ttf);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.col-md-8 p{
      font-size: 27px;
    }
    div.col-md-8 h1{
        font-size: 50px;
    }
    #achievement li{
        font-size: 27px;
    }
    td{
        font-size: 25px;
        padding-right: 70px;
    }
    #education td{
        padding-right : 150px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.col-md-8 p {
      font-size: 20px;
    }
    div.col-md-8 h1 {
        font-size: 45px;
    }
    #achievement li{
        font-size: 20px;
    }
    td{
        font-size: 20px;
        padding-right: 40px;
        padding-bottom: 10px;
    }
    table{
        overflow-x : scroll;
    }
    #education td{
        padding-right : 30px;
    }
    form{
        padding-bottom: 15px;
    }
  }

table{
    margin-left: 30px;
    /* font-size: 25px; */
}

form{
    margin-left: 30px;
    font-family: reem-kufi;
    font-size: 25px;
    color: white;
}

td{
    font-family : reem-kufi;
    color: white;
    /* padding-right: 70px; */
}

.navigasi{
      position: absolute;
  }
#header{
    width: 100%;
}

#header-img img{
    width: 100%;
    height: auto;
}

.row{
    padding-right: 0px;
    margin-right: 0px;
}

.col-md-8{
    height: 394;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-4{
    width: auto;
    max-width: 100%;
    height: 394;
    padding-left: 0px;
    padding-right: 0px;
}

.coklat-muda{
    background-color: #907667;
}

.coklat-kedua{
    background-color: #6F5A53;
}

.coklat-ketiga{
    background-color: #534441;
}

.coklat-keempat{
    background-color: #3D3131;
}

.col-md-8 h1{
    padding-top: 20px;
    padding-left: 30px;
    font-family: beth-ellen;
    font-style: normal;
    font-weight: normal;
    /* font-size: 5vw; */
    line-height: 80px;
}

.col-md-12 h1{
    padding-top: 20px;
    padding-left: 30px;
    font-family: beth-ellen;
    font-style: normal;
    font-weight: normal;
    /* font-size: 5vw; */
    line-height: 80px;
}

.col-md-4 h1{
    padding-top: 20px;
    padding-left: 30px;
    font-family: beth-ellen;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
}

.col-md-8 p{
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    color: white;
    font-family: reem-kufi;
    font-style: normal;
    font-weight: normal;
    /* font-size: 2vw; */
    line-height: 33px;
}


#sosmed img{
    width : 40px;
    height: 40px;
}

#sosmed td{
    padding-right: 10px;
    padding-bottom: 50px;
}

#foto-sosmed td{
    padding-right : 40px;
}

#about-me .foto-about img{
    width : 100%;
    height: auto;
    height : 394px;
    padding-left:0px;
    padding-right: 0px;
}

#achievement ul{
    padding-top : 30px;
    margin-left: 20px;
}

#achievement li{
    font-family: reem-kufi;
    /* font-size: 27px; */
    color: white;
}