<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  {% load staticfiles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />

  <title>Raihan's Profile</title>
</head>

<body>
  <nav class="navigasi navbar navbar-light navbar-expand-lg" style="background-color: transparent;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">About <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/resume/">Resume</a>
        <a class="nav-item nav-link" href="/contact/">Contact</a>
        <a class="nav-item nav-link" href="/schedule/">Set Schedule</a>
        <a class="nav-item nav-link" href="/jadwal/">See Schedule</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="header">
    <div id="header-img">
      <img src="{% static 'images/Background2.jpg' %}">
    </div>
  </div>


  <div class="row" id="about-me">
    <div class="tulisan-about coklat-muda col-md-8">
      <h1>
        About Me
      </h1>
      <p>
        A Computer Science Student who excited about technology and sport.
        Currently learning about technology and improving myself as much as
        possible by experiencing various organization and volunteer. Aiming to
        give my best to Indonesia and the world.
      </p>
    </div>
    <div class="foto-about col-md-4">
      <img src="{% static 'images/foto-gua.jpg' %}" style="width: 100%">
    </div>
  </div>

  <div class="row" style="background-color: #1B1818">
    <div class="col-4">

    </div>
    <div class="col-sm-4">
      <h1 style="text-align: center; padding-top: 20px; color: white;font-family: reem-kufi;">I never
        lose, either i win or i learn</h1>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>