<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />

    <title>Raihan's Resume</title>
</head>

<body>
    <nav class="navigasi navbar navbar-light navbar-expand-lg" style="background-color: transparent;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">About <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/resume/">Resume</a>
                <a class="nav-item nav-link" href="/contact/">Contact</a>
                <a class="nav-item nav-link" href="/schedule/">Set Schedule</a>
                <a class="nav-item nav-link" href="/jadwal/">See Schedule</a>
            </div>
        </div>
    </nav>
    <div id="header">
        <div id="header-img">
            <img src="{% static 'images/Background2.jpg' %}">
        </div>
    </div>

    <div class="row coklat-muda" id="education">
        <div class="col-md-4 gambar">
            <img src="{% static 'images/foto-edu.jpg' %}" style="width: 100%">
        </div>
        <div class="col-md-8">
            <h1>Educational Background</h1>
            <table>
                <tr>
                    <td>
                        SD Bhakti YKKP
                    </td>
                    <td style="padding-right: 0px;">
                        2006-2012
                    </td>
                </tr>
                <tr>
                    <td>
                        SMPN 75 Jakarta
                    </td>
                    <td style="padding-right: 0px;">
                        2012-2015
                    </td>
                </tr>
                <tr>
                    <td>
                        SMAN 78 Jakarta
                    </td>
                    <td style="padding-right: 0px;">
                        2015-2018
                    </td>
                </tr>
                <tr>
                    <td>
                        Universitas Indonesia
                    </td>
                    <td style="padding-right: 0px;">
                        2018-present
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row coklat-kedua" id="organization">
        <div class="col-md-8">
            <h1>
                Organization Experience
            </h1>
            <table>
                <tr>
                    <td>
                        OSIS SMAN 78 Jakarta
                    </td>
                    <td>
                        Staff Divisi 9
                    </td>
                    <td style="padding-right: 0px;">
                        2015-2016
                    </td>
                </tr>
                <tr>
                    <td>
                        MPK SMAN 78 Jakarta
                    </td>
                    <td>
                        Kepala Kom.F
                    </td>
                    <td style="padding-right: 0px;">
                        2016-2017
                    </td>
                </tr>
                <tr>
                    <td>
                        Universiade 2018
                    </td>
                    <td>
                        Staff Publikasi
                    </td>
                    <td style="padding-right: 0px;">
                        2018
                    </td>
                </tr>
                <tr>
                    <td>
                        CGT 2019
                    </td>
                    <td>
                        Staff Humas
                    </td>
                    <td style="padding-right: 0px;">
                        2019
                    </td>
                </tr>
                <tr>
                    <td>
                        COMPFEST 2019
                    </td>
                    <td>
                        Staff Seminar
                    </td>
                    <td style="padding-right: 0px;">
                        2019
                    </td>
                </tr>
                <tr>
                    <td>
                        CSL 2019
                    </td>
                    <td>
                        Staff Perlengkapan
                    </td>
                    <td style="padding-right: 0px;">
                        2019
                    </td>
                </tr>
                <tr>
                    <td>
                        BEM Fasilkom UI
                    </td>
                    <td>
                        Staff Dep. Olahraga
                    </td>
                    <td style="padding-right: 0px;">
                        2019
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 gambar">
            <img src="{% static 'images/foto-org.jpg' %}" style="width: 100%">
        </div>
    </div>

    <div class="row" id="Skill">
        <div class="col-md-4 gambar">
            <img src="{% static 'images/foto-skill.jpg' %}" style="width: 100%">
        </div>
        <div class="col-md-8 coklat-ketiga">
            <h1>Skills</h1>
            <table>
                <tr>
                    <td>
                        Basic Skill:
                    </td>
                    <td>
                        Programming Language:
                    </td>
                </tr>
                <tr>
                    <td>
                        -TeamWork
                    </td>
                    <td>
                        -Python
                    </td>
                </tr>
                <tr>
                    <td>
                        -Work in Pressure
                    </td>
                    <td>
                        -Java
                    </td>
                </tr>
                <tr>
                    <td>
                        -Leadership
                    </td>
                    <td>
                        -HTML5
                    </td>
                </tr>
                <tr>
                    <td>
                        -Time Management
                    </td>
                    <td>
                        -CSS 3
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        -Javascript
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" id="achievement">
        <div class="col-md-8 coklat-keempat">
            <h1>
                Achievement
            </h1>
            <ul>
                <li>Semi-finalist Bintang Pelajar National Competition - 2014</li>
                <li>Juara Harapan 1 Pelita 2 cup (Cabang Badminton) - 2017</li>
            </ul>
        </div>
        <div class="col-md-4 gambar">
            <img src="{% static 'images/foto-ach.jpg' %}" style="width: 100%">
        </div>
    </div>

    <div class="row" style="background-color: #1B1818">
        <div class="col-4">

        </div>
        <div class="col-sm-4">
            <h1 style="text-align: center; padding-top: 20px; color: white;font-family: reem-kufi;">I never
                lose, either i win or i learn</h1>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>